// 변수
// colors
$white: #fff;
$black: #333;
$sub-black: #666;
$gold: #998465;
$bar-color: #999;

//font
$family: 'Noto Sans KR', sans-serif;

//border
$b-style: solid;
$b-color: #dcdcdc;
$border: 1px $b-style $b-color;

//.logo mixin
@mixin logo{
    display: block;
    width: 254px;
}

//clear mixin
@mixin clear {
    &::after{
        content: '';
        display: block;
        clear: both;
    }
}

//prefix mixin
@mixin prefix($width, $height, $position:absolute){
    content: '';
    display: block;
    width: $width;
    height: $height;
    position: $position;
    @content;
}

//footer mixin
@mixin footerFont($size: 14px){
    color: #999;
    font: {
        size: $size;
        family: $family;
    }
}

@mixin fontWeight($weight:400){
    font-weight: $weight;
}

//position mixin
@mixin position($x: 0, $y: 0, $w: 100%) {
    position: absolute;
    width: $w;

    @if($x == 50% and $y == 50%){
        transform: translate(-50%, -50%);
    }@else if($x == 50%){
        transform: translateX(-50%);
    }@else if($y == 50%){
        transform: translateY(-50%);
    }
}

// 화면크기
$mobile: 766px;
$tablet: 1400px;
$desktop: 1401px;

//화면별 특이
$pc_hidden: none !important;

// 반응형
@mixin mobile{
    @media (max-width: $mobile){
        @content;
    }
}
@mixin tablet{
    @media (min-width: $mobile + 1) and (max-width: $tablet){
        @content;
    }
}
@mixin desktop{
    @media (min-width: $mobile + 1){
        @content;
    }
}