@import 'utils';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: {
        family: $family;
    }
    color: $black;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: $black;
    font-weight: 400;
}

.pc_hidden{
    display: $pc_hidden;
}
//wrap
.wrap{
    position: relative;
    text-align: center;
    margin: 0 auto;
    @include desktop{
        max-width: 1680px;
    }
    @include mobile{
        width: 100%;
    }
}

.logo{
    @include logo;
}

#header{
    .top{
        border-bottom: $border;
        .wrap{
            height: 45px;
            padding: 5px 60px;
            transition: all 0.6s;
        }
    }
    &.fixed{
        .top{
            border-bottom: none;
            .wrap{
                height: auto;
                max-width: none;
                padding: 0;
                .logo{
                    display: none;
                }
                .util_menu{
                    display: none;
                }
            }
        }
    }
}
.util_menu{
    position: absolute;
    top: 10px;
    right: 60px;
    display: block;
    ul{
        li{
            &::after{
                @include prefix(1px, 19px){
                    background-color: #e0e0e0;
                    top: 2px;
                    right: 0;
                }
            }
            &:last-child::after{
                content: none;
            }
            display: inline-block;
            position: relative;
            margin-right: 5px;
            padding-right: 8px;

            a{
                color: $sub-black;
                font-size: 14px;
            }
        }
    }
}
