* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  letter-spacing: -0.05em;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}

input {
  border: 0;
  padding: 0 14px;
  background-color: #fff;
  color: #333;
  border-radius: 0;
  vertical-align: top;
}
input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #666;
  letter-spacing: -0.05em;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

.pc_hidden {
  display: none;
}

.wrap {
  margin: 0 auto;
}
@media (min-width: 767px) {
  .wrap {
    max-width: 1400px;
  }
}
@media (max-width: 766px) {
  .wrap {
    width: 100%;
  }
}

.logo {
  display: block;
  width: 254px;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}
#header .pc_hidden {
  display: none;
}
@media (min-width: 767px) {
  #header .wrap {
    max-width: 1680px;
  }
}
#header .top {
  border-bottom: 1px solid #dcdcdc;
}
@media (max-width: 766px) {
  #header .top {
    display: none;
  }
}
#header .top .wrap {
  height: 45px;
  padding: 5px 60px;
  transition: all 0.6s;
  position: relative;
}
#header .top .wrap a.logo {
  display: inline-block;
}
#header .top .wrap .util_menu {
  position: absolute;
  top: 10px;
  right: 60px;
  display: block;
}
#header .top .wrap .util_menu ul li {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  padding-right: 8px;
}
#header .top .wrap .util_menu ul li::after {
  content: "";
  display: block;
  width: 1px;
  height: 19px;
  position: absolute;
  background-color: #e0e0e0;
  top: 2px;
  right: 0;
}
#header .top .wrap .util_menu ul li:last-child {
  margin-right: 0;
  padding-right: 0;
}
#header .top .wrap .util_menu ul li:last-child::after {
  content: none;
}
#header .top .wrap .util_menu ul li a {
  color: #666;
  font-size: 14px;
}
#header .bottom {
  border-bottom: 1px solid #dcdcdc;
}
#header .bottom::after {
  content: "";
  display: block;
  clear: both;
}
#header .bottom .wrap {
  padding: 0 60px;
}
@media (max-width: 766px) {
  #header .bottom .wrap {
    padding: 0;
  }
}
#header .bottom .home {
  display: none;
}
@media (max-width: 766px) {
  #header .bottom .home {
    display: block;
    position: absolute;
    width: 22px;
    left: 20px;
    top: 19px;
    height: 22px;
    background: url("../../img/mb_ico_home.png") no-repeat 50%;
    background-size: 100%;
    text-indent: -9999px;
    overflow: hidden;
  }
}
#header .bottom .nm_logo {
  display: inline-block;
  margin-right: 5%;
  vertical-align: middle;
  font-weight: 600;
  font-size: 20px;
}
#header .bottom .nm_logo a {
  font-weight: 600;
}
@media (min-width: 1060px) and (max-width: 1400px) {
  #header .bottom .nm_logo {
    margin-right: 1%;
  }
}
@media (min-width: 767px) and (max-width: 1059px) {
  #header .bottom .nm_logo {
    font-size: 20px;
    position: relative;
    top: 20px;
  }
}
@media (max-width: 766px) {
  #header .bottom .nm_logo {
    display: block;
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 16px 0;
    border-bottom: 1px solid #dcdcdc;
  }
}
@media (max-width: 766px) {
  #header .bottom .btn_gnb {
    display: block;
    position: absolute;
    right: 20px;
    top: 23px;
  }
  #header .bottom .btn_gnb span {
    display: block;
    width: 20px;
    height: 2px;
    background: #333;
    margin-top: 4px;
  }
  #header .bottom .btn_gnb span:first-child {
    margin-top: 0;
  }
}
@media (min-width: 767px) {
  #header .bottom .mb_gnb {
    display: none;
  }
}
@media (max-width: 766px) {
  #header .bottom .mb_gnb {
    left: -100%;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 110;
  }
  #header .bottom .mb_gnb .wrap {
    position: relative;
    height: 100vh;
    padding: 76px 20px 20px;
    overflow-y: auto;
  }
  #header .bottom .mb_gnb .wrap .gnb_logo {
    position: absolute;
    top: 20px;
    width: 190px;
  }
  #header .bottom .mb_gnb .wrap .gnb_logo img {
    max-width: 100%;
    border: 0;
    vertical-align: top;
  }
  #header .bottom .mb_gnb .wrap .btn_close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 18px;
    height: 18px;
    background: url("../../img/mb_ico_close.png") no-repeat 50%;
    background-size: 100%;
    text-indent: -9999px;
    overflow: hidden;
  }
  #header .bottom .mb_gnb .wrap .g_top p {
    font-size: 21px;
    font-weight: 500;
  }
  #header .bottom .mb_gnb .wrap .g_top .btn_area {
    margin-top: 30px;
    text-align: center;
  }
  #header .bottom .mb_gnb .wrap .g_top .btn_area::after {
    content: "";
    display: block;
    clear: both;
  }
  #header .bottom .mb_gnb .wrap .g_top .btn_area .btn_txt {
    float: left;
    display: block;
    width: 49%;
    height: 50px;
    line-height: 46px;
    font-size: 13px;
    margin-right: 2%;
    background-color: #998465;
    color: #fff;
  }
  #header .bottom .mb_gnb .wrap .g_top .btn_area .btn_txt.btn_dgray {
    background: #333;
    border: 2px solid #333;
  }
  #header .bottom .mb_gnb .wrap .g_top .btn_area .btn_txt:last-of-type {
    margin-right: 0;
  }
  #header .bottom .mb_gnb .wrap .g_menu {
    margin: 20px -20px 0;
  }
  #header .bottom .mb_gnb .wrap .g_menu > li > .btn_tg, #header .bottom .mb_gnb .wrap .g_menu > li a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #dcdcdc;
    font-size: 15px;
    text-align: left;
  }
  #header .bottom .mb_gnb .wrap .g_menu > li > .btn_tg span, #header .bottom .mb_gnb .wrap .g_menu > li a span {
    display: block;
    position: relative;
  }
  #header .bottom .mb_gnb .wrap .g_menu > li > .btn_tg span::after, #header .bottom .mb_gnb .wrap .g_menu > li a span::after {
    content: "";
    display: block;
    width: 14px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    background: url("../../img/ico_btn_arrow_gray_down.png") no-repeat 50%;
    margin-top: -4px;
  }
  #header .bottom .mb_gnb .wrap .g_menu > li .depth2 {
    display: none;
    padding: 20px 0;
    border-bottom: 1px solid #dcdcdc;
  }
  #header .bottom .mb_gnb .wrap .g_menu > li .depth2 > li {
    padding: 0 20px;
    color: #666;
  }
  #header .bottom .mb_gnb .wrap .g_menu > li .depth2 .depth3 {
    display: none;
    padding: 5px 0 0 10px;
  }
  #header .bottom .mb_gnb .wrap .g_menu > li .depth2 .depth3 > li {
    margin-top: 5px;
    font-size: 12px;
  }
  #header .bottom .mb_gnb .wrap .b_menu {
    margin: 0 -20px;
    padding: 20px;
    background-color: #f4f4f4;
  }
  #header .bottom .mb_gnb .wrap .b_menu ul {
    display: table;
    width: 100%;
  }
  #header .bottom .mb_gnb .wrap .b_menu ul li {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    text-align: center;
  }
  #header .bottom .mb_gnb .wrap .b_menu ul li::after {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    position: absolute;
    top: -2px;
    right: 0;
    background: #dcdcdc;
  }
  #header .bottom .mb_gnb .wrap .b_menu ul li:last-of-type::after {
    content: none;
  }
  #header .bottom .mb_gnb .wrap .contact {
    padding-top: 25px;
  }
  #header .bottom .mb_gnb .wrap .contact p {
    font-size: 13px;
    color: #666;
  }
  #header .bottom .mb_gnb .wrap .contact p a {
    color: #998465;
  }
  #header .bottom .mb_gnb .wrap .contact p:last-of-type {
    margin-top: 5px;
  }
  #header .bottom .mb_gnb .wrap .contact p.tit {
    margin-bottom: 5px;
    color: #333;
    font-size: 15px;
    font-weight: 500;
  }
  #header .bottom .mb_gnb .wrap .contact .btn_txt.btn_beige {
    margin-top: 18px;
    background: #998465;
    border: 2px solid #998465;
    color: #fff;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 46px;
    font-size: 13px;
    text-align: center;
  }
}
#header .bottom .gnb_menu {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 1060px) and (max-width: 1400px) {
  #header .bottom .gnb_menu > ul {
    margin: 0 -20px;
  }
}
@media (min-width: 767px) and (max-width: 1059px) {
  #header .bottom .gnb_menu > ul {
    margin: 0 -12px;
  }
}
@media (max-width: 766px) {
  #header .bottom .gnb_menu > ul {
    overflow-x: auto;
    white-space: nowrap;
  }
}
#header .bottom .gnb_menu > ul > li {
  display: inline-block;
  vertical-align: top;
  padding: 30px 15px;
  text-align: center;
}
#header .bottom .gnb_menu > ul > li a {
  font-size: 18px;
}
@media (max-width: 766px) {
  #header .bottom .gnb_menu > ul > li {
    margin: 0 14px;
    padding: 0;
  }
  #header .bottom .gnb_menu > ul > li a {
    display: block;
    font-size: 15px;
    padding: 10px 0;
  }
}
#header .bottom .gnb_menu > ul > li .depth2 {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 133px;
  padding: 30px 0 50px;
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
@media (min-width: 767px) {
  #header .bottom .gnb_menu > ul > li .depth2 .inner {
    max-width: 1400px;
    margin: 0 auto;
  }
}
#header .bottom .gnb_menu > ul > li .depth2 .inner::after {
  content: "";
  display: block;
  clear: both;
}
#header .bottom .gnb_menu > ul > li .depth2 .inner .tit {
  float: left;
  width: 260px;
  padding-left: 40px;
  font-size: 22px;
}
#header .bottom .gnb_menu > ul > li .depth2 .inner .tit span {
  display: inline-block;
  padding-right: 19px;
  background: url("../../img/pc_ico_gnb_arrow.png") no-repeat 100% 60%;
  background-size: 8px;
}
#header .bottom .gnb_menu > ul > li .depth2 .inner > ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 40px;
  white-space: normal;
  width: calc(100% - 260px);
  height: 200px;
  border-left: 1px solid #dcdcdc;
}
#header .bottom .gnb_menu > ul > li .depth2 .inner > ul > li {
  width: 25%;
  margin-bottom: 20px;
  font-size: 18px;
}
#header .bottom .gnb_menu > ul > li .depth2 .inner > ul > li a {
  font-weight: 600;
}
#header .bottom .gnb_menu > ul > li .depth3 {
  display: none;
}
#header .bottom .gnb_menu > ul > li .depth3 li {
  margin-top: 20px;
}
#header .bottom .gnb_menu > ul > li .depth3 li a {
  color: #666;
  font-weight: 600;
}
#header .bottom .gnb_menu > ul > li:hover > a {
  text-decoration: underline;
}
#header .bottom .gnb_menu > ul > li:hover > a > span {
  font-weight: 500;
}
#header .bottom .gnb_menu > ul > li:hover .depth2, #header .bottom .gnb_menu > ul > li:hover .depth3 {
  display: block;
}
#header .bottom .gnb_menu > ul > li:hover .depth2 a:hover, #header .bottom .gnb_menu > ul > li:hover .depth3 a:hover {
  text-decoration: underline;
}
#header .bottom .gnb_menu > ul > li:hover .depth3 a:hover {
  color: #998465;
}
@media (max-width: 766px) {
  #header .bottom .gnb_menu > ul > li:hover > a {
    text-decoration: none;
    cursor: pointer;
  }
  #header .bottom .gnb_menu > ul > li:hover .depth2, #header .bottom .gnb_menu > ul > li:hover .depth3 {
    display: none;
  }
}
#header .bottom .mb_srch_btn {
  width: 62px;
  height: 63px;
  background: url("../../img/pc_ico_srch.png") no-repeat 50%;
  background-size: 22px;
  font-size: 0;
  margin-top: 10px;
  position: absolute;
  top: 45px;
  right: 40px;
}
@media (min-width: 767px) {
  #header .bottom .mb_srch_btn {
    display: none;
  }
}
@media (min-width: 1060px) and (max-width: 1400px) {
  #header .bottom .mb_srch_btn {
    display: block;
  }
}
@media (min-width: 767px) and (max-width: 1059px) {
  #header .bottom .mb_srch_btn {
    display: block;
  }
}
@media (max-width: 766px) {
  #header .bottom .mb_srch_btn {
    display: block;
    right: 46px;
    top: 4px;
    width: 30px;
    height: 31px;
  }
}
#header .bottom .mb_srch_btn.active {
  background-size: 18px;
  background-image: url("../../img/mb_ico_close.png");
}
#header .bottom form#keyword {
  float: right;
  padding-top: 22px;
}
#header .bottom form#keyword .top_srch_area {
  width: 300px;
}
#header .bottom form#keyword .top_srch_area .srch_box {
  border: 1px solid #dcdcdc;
}
#header .bottom form#keyword .top_srch_area .srch_box::after {
  content: "";
  display: block;
  clear: both;
}
#header .bottom form#keyword .top_srch_area .srch_box input[type=text] {
  height: 38px;
  line-height: 38px;
}
@media (min-width: 767px) {
  #header .bottom form#keyword .top_srch_area .srch_box input[type=text] {
    width: calc(100% - 62px);
  }
}
@media (max-width: 766px) {
  #header .bottom form#keyword .top_srch_area .srch_box input[type=text] {
    width: calc(100% - 54px);
    height: 48px;
  }
}
#header .bottom form#keyword .top_srch_area .srch_box button {
  width: 62px;
  height: 38px;
  background: url("../../img/pc_ico_srch.png") no-repeat 50%;
  background-size: 22px;
  font-size: 0;
  float: right;
}
@media (max-width: 766px) {
  #header .bottom form#keyword .top_srch_area .srch_box button {
    width: 54px;
    height: 48px;
  }
}
@media (min-width: 1060px) and (max-width: 1400px) {
  #header .bottom form#keyword {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 133px;
    transform: translateX(-50%);
    padding: 64px 0;
    background-color: #fff;
  }
  #header .bottom form#keyword .top_srch_area {
    margin: 0 auto;
    width: 500px;
  }
  #header .bottom form#keyword .top_srch_area .srch_box {
    width: 500px;
  }
}
@media (min-width: 767px) and (max-width: 1059px) {
  #header .bottom form#keyword {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 133px;
    transform: translateX(-50%);
    padding: 64px 0;
    background-color: #fff;
  }
  #header .bottom form#keyword .top_srch_area {
    margin: 0 auto;
    width: 500px;
  }
  #header .bottom form#keyword .top_srch_area .srch_box {
    width: 500px;
  }
}
@media (max-width: 766px) {
  #header .bottom form#keyword {
    display: none;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 102px;
    transform: translateX(-50%);
    padding: 40px 20px;
    background-color: #fff;
  }
  #header .bottom form#keyword .top_srch_area {
    margin: 0 auto;
    width: 100%;
  }
  #header .bottom form#keyword .top_srch_area .srch_box {
    width: 100%;
  }
}
#header.fixed .top {
  border-bottom: none;
}
#header.fixed .top .wrap {
  height: auto;
  max-width: none;
  padding: 0;
}
#header.fixed .top .wrap .logo {
  display: none;
}
#header.fixed .top .wrap .util_menu {
  display: none;
}
#header.fixed .bottom {
  position: sticky;
  top: 0;
}
@media (min-width: 767px) and (max-width: 1059px) {
  #header.fixed .bottom .nm_logo {
    display: none;
  }
}
#header.fixed .bottom .mb_srch_btn {
  top: 0px;
}
@media (min-width: 767px) and (max-width: 1059px) {
  #header.fixed .bottom .mb_srch_btn {
    right: 15px;
  }
}
@media (max-width: 766px) {
  #header.fixed .bottom .mb_srch_btn {
    right: 46px;
    top: 4px;
  }
}
#header.fixed .bottom .gnb_menu .depth2 {
  top: 87px;
}
#header.fixed .bottom form#keyword {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 87px;
  transform: translateX(-50%);
}
@media (max-width: 766px) {
  #header.fixed .bottom form#keyword {
    top: 102px;
  }
}
@media (min-width: 767px) {
  #header.fixed .bottom form#keyword {
    position: static;
    transform: translateX(0);
    width: 300px;
  }
}

@media (min-width: 767px) {
  #contents {
    margin-top: 130px;
  }
}
#contents .content {
  overflow: hidden;
  width: 100%;
}
#contents .content .main_visual {
  height: 800px;
  position: relative;
}
#contents .content .main_visual .slider ul li {
  width: 100%;
  position: absolute;
}
#contents .content .main_visual .slider ul li picture, #contents .content .main_visual .slider ul li img {
  width: 100%;
  height: 800px;
}
@media (min-width: 767px) {
  #contents .content .main_visual .sliderCtrl {
    width: 1400px;
    position: absolute;
    left: 50%;
    bottom: 60px;
    z-index: 2;
    transform: translateX(-50%);
    text-align: right;
  }
}
#contents .content .main_visual .sliderCtrl ul {
  display: flex;
  justify-content: flex-end;
}
#contents .content .main_visual .sliderCtrl ul li {
  width: 60px;
  height: 2px;
  line-height: 2px;
  background-color: #999;
  transition: all 0.5s;
}
#contents .content .main_visual .sliderCtrl ul li.on {
  background-color: #fff;
}
#contents .content .main_visual .sliderCtrl button.stop {
  width: 12px;
  height: 16px;
  display: inline-block;
  position: absolute;
  right: -22px;
  bottom: -7px;
  background: url("../../img/ico_pause.png") no-repeat 50%;
  background-size: 100%;
}
#contents .content .best_prd .wrap {
  position: relative;
  padding: 0 20px;
}
@media (min-width: 767px) {
  #contents .content .best_prd .wrap {
    width: 1400px;
    padding: 0;
  }
}
#contents .content .best_prd .wrap .m_tit {
  margin-bottom: 20px;
  margin-top: 90px;
  color: #998465;
  font-size: 24px;
}
@media (min-width: 767px) {
  #contents .content .best_prd .wrap .m_tit {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 40px;
  }
}
#contents .content .best_prd .wrap ul::after {
  content: "";
  display: block;
  clear: both;
}
#contents .content .best_prd .wrap ul li {
  line-height: 1.5;
}
@media (min-width: 767px) {
  #contents .content .best_prd .wrap ul li {
    float: left;
    width: 448px;
    margin-right: 25px;
    margin-bottom: 20px;
  }
  #contents .content .best_prd .wrap ul li:not(:first-child) {
    margin-top: 0px;
  }
  #contents .content .best_prd .wrap ul li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 766px) {
  #contents .content .best_prd .wrap ul li:not(:first-child) {
    margin-top: 28px;
  }
}
#contents .content .best_prd .wrap ul li img {
  width: 100%;
}
#contents .content .best_prd .wrap ul li .tit {
  margin-top: 24px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  font-weight: 500;
}
@media (max-width: 766px) {
  #contents .content .best_prd .wrap ul li .tit {
    font-size: 12px;
    margin-bottom: 0;
  }
}
#contents .content .best_prd .wrap ul li .txt {
  font-size: 21px;
  color: #333;
  font-weight: 500;
}
@media (min-width: 767px) {
  #contents .content .best_prd .wrap ul li .txt {
    font-size: 22px;
  }
}
#contents .content .best_prd .wrap ul li .ico_arrow.beige {
  display: inline-block;
  margin-top: 30px;
  position: static;
  background: url("../../img/ico_arrow_beige.png") no-repeat 100% 50%;
  background-size: 5px;
  color: #998465;
}
@media (min-width: 767px) {
  #contents .content .best_prd .wrap ul li .ico_arrow.beige {
    top: 7px;
    right: 0;
    padding-right: 12px;
    font-size: 16px;
  }
}
@media (max-width: 766px) {
  #contents .content .best_prd .wrap ul li .ico_arrow.beige {
    position: static;
    padding-right: 12px;
    margin-top: 10px;
  }
}
#contents .content .best_prd .wrap ul li .ico_arrow.beige span {
  color: #998465;
  font-size: 16px;
}
@media (max-width: 766px) {
  #contents .content .best_prd .wrap ul li .ico_arrow.beige span {
    font-size: 12px;
  }
}
#contents .content .e_shop_bn {
  margin-top: 100px;
  position: relative;
}
@media (min-width: 767px) {
  #contents .content .e_shop_bn {
    margin-top: 150px;
  }
}
#contents .content .e_shop_bn img {
  display: block;
  width: 100%;
}
#contents .content .e_shop_bn .bn_tb1 {
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 0 20px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 767px) {
  #contents .content .e_shop_bn .bn_tb1 {
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    display: table;
  }
}
#contents .content .e_shop_bn .bn_tb1 p {
  line-height: 1.5;
  color: #fff;
}
@media (min-width: 767px) {
  #contents .content .e_shop_bn .bn_tb1 p {
    display: table-cell;
    vertical-align: middle;
  }
}
#contents .content .e_shop_bn .bn_tb1 p em {
  margin-bottom: 15px;
  font-size: 21px;
  display: block;
  color: #fff;
  font-style: normal;
  font-weight: 500;
}
@media (min-width: 767px) {
  #contents .content .e_shop_bn .bn_tb1 p em {
    margin-bottom: 1.3%;
    font-size: 40px;
  }
}
@media (max-width: 766px) {
  #contents .content .hot_choice {
    padding: 0 20px;
  }
}
#contents .content .hot_choice .wrap .m_tit {
  margin-bottom: 20px;
  margin-top: 90px;
  color: #998465;
  font-size: 24px;
}
@media (min-width: 767px) {
  #contents .content .hot_choice .wrap .m_tit {
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 40px;
  }
}
#contents .content .hot_choice .wrap ul {
  width: 100%;
}
#contents .content .hot_choice .wrap ul li {
  text-align: center;
}
#contents .content .hot_choice .wrap ul li::after {
  content: "";
  display: block;
  clear: both;
}
#contents .content .hot_choice .wrap ul li img {
  display: block;
  float: left;
  width: 804px;
}
@media (max-width: 766px) {
  #contents .content .hot_choice .wrap ul li img {
    width: 100%;
    float: none;
  }
}
#contents .content .hot_choice .wrap ul li:last-child {
  margin-top: 100px;
}
#contents .content .hot_choice .wrap ul li:last-child img {
  float: right;
}
@media (max-width: 766px) {
  #contents .content .hot_choice .wrap ul li:last-child img {
    float: none;
  }
}
#contents .content .hot_choice .wrap ul li .tit {
  padding-top: 130px;
  font-size: 34px;
  color: #998465;
}
#contents .content .hot_choice .wrap ul li .txt {
  margin: 24px 0 58px;
  font-size: 18px;
}
#contents .content .hot_choice .wrap ul li a.btn_view {
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 46px;
  color: #998465;
  text-align: center;
  border: 2px solid #998465;
  background: #fff;
  transition: all 0.6s;
}
#contents .content .hot_choice .wrap ul li a.btn_view:hover {
  background: #998465;
  color: #fff;
}
@media (max-width: 766px) {
  #contents .content .hot_choice .wrap ul li .tit {
    margin-top: 30px;
    font-size: 21px;
    padding: 0;
  }
  #contents .content .hot_choice .wrap ul li .txt {
    margin: 10px 0 30px;
    font-size: 13px;
  }
  #contents .content .hot_choice .wrap ul li a.btn_view {
    width: 100%;
    background-color: #998465;
    border: 2px solid #998465;
    color: #fff;
    transition: none;
    font-size: 13px;
  }
}

.quick {
  position: fixed;
  right: 20px;
  bottom: 10%;
  z-index: 550;
}
.quick button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-indent: -9999px;
  overflow: hidden;
  background: #666 url("../../img/mb_ico_top.png") no-repeat 50% 50%;
  background-size: 14px;
}
@media (min-width: 767px) {
  .quick {
    right: 60px;
  }
  .quick button {
    width: 50px;
    height: 50px;
    background: #666 url("../../img/pc_ico_top.png") no-repeat 50% 50%;
    background-size: 16px;
  }
}

#footer {
  background-color: #111;
  padding: 30px 20px 40px;
  margin-top: 110px;
  color: #999;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}
@media (min-width: 767px) {
  #footer {
    margin-top: 90px;
    padding: 53px 60px 0;
  }
}
#footer a {
  color: #999;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}
#footer .top .wrap {
  position: relative;
  padding: 145px 0 54px;
  background: url("../../img/pc_f_logo_wht.png") no-repeat 0 0;
  background-size: 88px;
}
@media (max-width: 766px) {
  #footer .top .wrap {
    padding: 76px 0 0;
    background-size: 62px;
  }
}
#footer .top .wrap .right {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}
@media (max-width: 766px) {
  #footer .top .wrap .right {
    position: relative;
    margin-top: 20px;
  }
}
#footer .top .wrap .right p {
  padding-right: 27px;
}
#footer .top .wrap .right p span {
  display: block;
  line-height: 1.3;
  margin-top: 7px;
  color: #999;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}
#footer .top .wrap .right p span:first-child {
  margin-top: 0;
}
#footer .top .wrap .right p span:last-child {
  margin-top: 14px;
}
@media (max-width: 766px) {
  #footer .top .wrap .right p span {
    line-height: 19px;
    font-size: 13px;
    margin-top: 0;
  }
  #footer .top .wrap .right p span:last-child {
    margin-top: 5px;
  }
}
#footer .top .wrap .right ul {
  position: relative;
  width: 202px;
  padding: 0 27px;
}
@media (max-width: 766px) {
  #footer .top .wrap .right ul {
    display: none;
  }
}
#footer .top .wrap .right ul:last-child {
  padding-right: 0;
  width: auto;
}
#footer .top .wrap .right ul::before {
  content: "";
  display: block;
  width: 1px;
  height: 260px;
  position: absolute;
  background-color: #333;
  left: 0;
  top: 0;
}
#footer .top .wrap .right ul li {
  margin-top: 14px;
}
#footer .top .wrap .right ul li:first-child {
  margin-top: 0;
}
#footer .top .wrap > ul li {
  color: #999;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 27px;
}
@media (max-width: 766px) {
  #footer .top .wrap > ul li {
    line-height: 19px;
    font-size: 13px;
  }
}
#footer .bottom {
  border-top: 1px solid #333;
}
@media (max-width: 766px) {
  #footer .bottom {
    border-top: none;
  }
}
#footer .bottom .wrap {
  position: relative;
}
@media (min-width: 767px) {
  #footer .bottom .wrap {
    padding: 36px 0;
  }
}
@media (max-width: 766px) {
  #footer .bottom .wrap .left {
    margin: 30px 0 40px;
  }
}
#footer .bottom .wrap .left span {
  display: block;
  margin-top: 15px;
  position: relative;
}
@media (min-width: 767px) {
  #footer .bottom .wrap .left span {
    display: inline-block;
    margin: 0 10px 0 0;
    padding-right: 15px;
  }
  #footer .bottom .wrap .left span > a {
    color: #999;
    font-size: 13px;
    font-family: "Noto Sans KR", sans-serif;
  }
}
#footer .bottom .wrap .left span:first-child a {
  color: #fff;
}
#footer .bottom .wrap .left span::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  position: absolute;
  background-color: #333;
  top: 5px;
  right: 0;
}
@media (max-width: 766px) {
  #footer .bottom .wrap .left span::after {
    content: none;
  }
}
#footer .bottom .wrap .left span:last-child::after {
  content: none;
}
#footer .bottom .wrap .left span a {
  color: #999;
  font-size: 13px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}
#footer .bottom .wrap .right {
  position: absolute;
  right: 0;
  top: 28px;
}
@media (max-width: 766px) {
  #footer .bottom .wrap .right {
    position: relative;
    top: 0;
  }
}
#footer .bottom .wrap .right > button {
  border: 1px solid #666;
  color: #999;
  padding: 0 14px;
  width: 260px;
  height: 40px;
  line-height: 38px;
  text-align: left;
  background: url("../../img/mb_ico_sel.png") no-repeat 100% 50%;
  background-size: 34px;
  font-size: 16px;
}
@media (max-width: 766px) {
  #footer .bottom .wrap .right > button {
    width: 100%;
  }
}
#footer .bottom .wrap .right ul {
  display: none;
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 260px;
  height: auto;
  background-color: #111;
  border: 1px solid #666;
  border-bottom: none;
  padding: 10px 0;
}
#footer .bottom .wrap .right ul.on {
  display: block;
}
@media (max-width: 766px) {
  #footer .bottom .wrap .right ul {
    width: 100%;
  }
}
#footer .bottom .wrap .right ul li button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 0 14px;
  text-align: left;
}
#footer .bottom .wrap .right ul li button span {
  color: #999;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
#footer .bottom .wrap .right ul li:first-child button {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
